<style>
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  #myPage {
    padding-top: 70px;
  }
  h3 {
      margin: 10px 0 30px 0;
      letter-spacing: 7px;
      font-size: 24px;
      color: #C50747;
  }
  h4 {
      margin: 10px 0 10px 0;
      letter-spacing: 5px;
      font-size: 18px;
  }
  .container {
      padding: 20px 20px 20px 20px;
  }
  .navbar{
      font-family: Montserrat, sans-serif;
      margin-bottom: auto;
      background-color: #C50747;
      border: auto;
      font-size: 12px !important;
      letter-spacing: 2px;
      opacity: 0.9;
  }
  .navbar-brand {
    padding: 5px 5px;
  }
  .navbar-brand img{
    width: 200px;
    height: 100px;
  }
  .navbar li a, .navbar {
      color: #ff0 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #0145B0 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .nav img{
      width: 20px;
      height: 20px;
  }
  .jumbotron {
    margin-top : 70px;
    background-color: #ff999a;
  }
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      /* height: 600px; */
      z-index: -99;
  }
  .carousel-caption {
      color: #fff !important;
      background: rgba(1, 69, 176, 0.5);
  }
  
  @media (max-width: 900px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 900 pixels wide */
    }
  }
  #btnRegister a{
    color: #fff;
  }
  #btnRegister:hover a{
    color: #000;
  }
  .btn {
      padding: 10px 20px;
      background-color: #C50747;
      color: #fff;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #C50747;
      background-color: #fff;
      color: #000;
  }

  .row {
      padding: 0px 10px;
  }
  .person {
      border: 15px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.9;
  }
  .person:hover {
      border-color: #C50747;
  }
  .name {
    font-size: 20px;
  }

  .modal-header, h4, .close {
      background-color: #C50747;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #777;
  }

  #googleMap {
      width: 100%;
      height: 400px;
  }
  ul{
    list-style: none outside none;
      padding-left: 0;
          margin: 0;
  }

  .demo .item{
      margin-bottom: 60px;
  }
  .content-slider li{
      background-color: #ed3020;
      text-align: center;
      color: #FFF;
  }
  .content-slider h3 {
      margin: 0;
      padding: 70px 0;
  }
  .demo{
    width: 800px;
  }

  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }
</style>